@{
    ViewBag.Title = "Azure Lists";
}
@model AzureLists.Website.Models.TaskViewModel

<!-- Page Content Holder -->
@if (!string.IsNullOrWhiteSpace(Model.ListId))
{
<div id="task">

    @using (Html.BeginForm("Update", "Tasks", new { @listId = Model.ListId }, FormMethod.Post, new { @class = "form" }))
    {
        @Html.AntiForgeryToken()
        <input name="Id" type="hidden" value="@Model.Task.Id">
        <div class="task-edit-header">
            <div class="form-group">
                <a class="btn btn-default btn-xs btn-task-complete pull-left"><span class="glyphicon glyphicon-ok"></span></a>
                <textarea rows="3" name="title" class="blend pull-left">@Model.Task.Title</textarea>

                <a id="edit-task-important" class="btn-xs btn @(Model.Task.Important ? "btn-danger":"btn-default")"><span class="glyphicon glyphicon-star"></span></a>
                <input id="chk-edit-task-important" name="Important" type="hidden" value="@(Model.Task.Important ? "true":"false")">

            </div>
            <div class="clear-fix"></div>
        </div>
        <div class="task-edit-body">



            <div class="form-group">
                <label>Due</label>
                @if (Model.Task.DueDate.HasValue)
                {
                    <input type="datetime" name="DueDate" id="datepicker" class="form-control datepicker" value="@Model.Task.DueDate.Value.ToString("yyyy-MM-dd")" />
                }
                else
                {
                    <input type="datetime" id="datepicker" name="DueDate" class="form-control datepicker" />
                }
            </div>
            <div class="form-group">
                <label for="exampleInputFile">Notes</label>
                <textarea name="Notes" class="form-control ">@Model.Task.Notes</textarea>
            </div>


            <button type="submit" class="btn btn-default hideTask pull-right">
                <span class="glyphicon glyphicon-ok"></span>

            </button>
            <a class="btn btn-default hideTask pull-right">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>

        </div>
    }
</div>
}
