@{
    ViewBag.Title = "Azure Lists";
}
@model AzureLists.Website.Models.Api.List

<!-- Page Content Holder -->
<div id="content">

    <div class="content-header">
        <h1 class="pull-left">@Model.Name</h1>

        <a class="pull-right edit-list">
            <span class="glyphicon glyphicon-edit"></span>
        </a>

    </div>
    <div class="content-body">
        <!-- Edit List Form -->
        <div class="list-edit hide">
            @using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { @class = "form-inline" }))
            {
                @Html.AntiForgeryToken()
                <input name="Id" type="hidden" value="@Model.Id">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="Name" value="@Model.Name">
                </div>
                <button type="submit" class="btn btn-default btn-space pull-right">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <a class="btn btn-default edit-list btn-space pull-right">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            }
        </div>

        <!-- View all tasks in list -->
        <div class="list-view">
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                    <div class="input-group">
                        <div class="input-group-addon">

                            <a><span class="glyphicon glyphicon-plus"></span></a>
                        </div>
                        <input id="addTask" type="text" class="form-control" placeholder="Add a to do...">
                        <div class="input-group-addon">
                            <a><span class="glyphicon glyphicon-star"></span></a>
                        </div>
                    </div>
                </div>

            </form>

            <div class="tasks-container">
                @foreach (var tsk in Model.Tasks)
                {
                    <div class="task">
                        <div class="task-complete">
                            <a class="btn btn-default btn-xs btn-task-complete"><span class="glyphicon glyphicon-ok"></span></a>
                        </div>
                        <a class="task-body">
                            <p class="task-title">@tsk.Title</p>
                            <p class="task-due">Today</p>
                        </a>
                        <div class="task-important">
                            <a class="btn btn-danger btn-xs btn-task-important"><span class="glyphicon glyphicon-star"></span></a>
                        </div>
                    </div>
                }
            </div>
        </div>
        </div>
</div>